# 依赖
node_modules
.pnpm-store

# 构建输出
dist
*.local

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 系统文件
.DS_Store
Thumbs.db

# 环境文件
.env.local
.env.*.local

# 测试覆盖率
coverage
*.lcov

# TypeScript 缓存
*.tsbuildinfo

# Vite
*.cache

# Husky
.husky/_

# 临时文件
tmp
temp
