# 依赖
node_modules
.pnpm-store

# 构建产物
dist
*.local

# 编辑器配置
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 系统文件
.DS_Store
Thumbs.db

# 测试覆盖率
coverage

# TypeScript 缓存
*.tsbuildinfo

# Vite 缓存
.vite

# 临时文件
*.swp
*.swo
